<launch>
    <arg name="custom_agv_amcl_file" default="$(find agv_localization)/launch/agv_amcl.launch"/>  

    <include file="$(arg custom_agv_amcl_file)" />
    
    <node pkg="agv_localization" type="tf_localization" name="tf_localization"/>

    <node pkg="agv_localization" type="localization_error_node" name="localization_error_node" output="screen"/>

</launch>